:root {
  --white: #ffffff;
  --dark-blue: #42567A;
  --pink-magenta: #EF5DA8;
  --blue: #3877EE;
  --grey: #C7CDD9;
  --background-color: #F4F5F9;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100svh;
}

body {
  color: var(--dark-blue);
  background: var(--background-color);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
