.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    padding: 13px 20px;
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(66, 86, 122, 0.1);
    min-height: 100svh;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      transform: translateX(-50%);
      background: var(--dark-blue);
      opacity: .2;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

  }

}